<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'skills/favicon.ico'%}">
</head>
<body>
{% if user.is_authenticated %}
<div class="menu">
    <div class="wrap">
        <ul>
            <li class="logo">Пользователь: {{ user.username }}</li>
            <li>
                <form action="{% url 'logoutuser' %}" method="post">
                    {% csrf_token %}
                    <button class="top">Выйти</button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% else %}
    <div class="menu">
        <div class="wrap">
            <div class="two">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'skills/logo.png' %}"></a>
                    <ul class="one">
                        <li><a href="{% url 'index' %}"><b>Главная</b></a></li>
                        <li><a href="{% url 'blogs' %}"><b>Блог</b></a></li>
                        <li><a href="{% static 'skills/resume.pdf' %}" target="_blank"><b>Резюме</b></a></li>
                    </ul>
                </div>
                <div class="right">
                    <a href="{% url 'signupuser' %}">Зарегистрироваться</a><BR>
                    <a href="{% url 'loginuser' %}">Войти</a>
                </div>
            </div>
        </div>
    </div>
  <div class="content">
    <div class="wrap">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endif %}
<div class="content">
    <div class="wrap">
        {% block content2 %}
        {% endblock %}
    </div>
</div>
</body>
</html>