<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
<div class="menu">
    <div class="wrap">
        <ul>
            <li class="logo">Пользователь: {{ user.username }}</li>
            <li><a href="{%%}">Актуальные</a></li>
            <li><a href="">Выйти</a></li>
        </ul>
    </div>
</div>
{% else %}

{% endif %}

<div class="content">
  <div class="wrap">
    {% block content %}
    {% endblock %}
  </div>
</div>

</body>
</html>