{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p class="one">Rubytravel – это онлайн сервис для поиска туров по всем туроператорам, который
    <br>полностью заменяет обычное турагентство “возле метро”. Белоснежные пляжи
    <br>Шри-Ланки, четыре моря Израиля, роскошные сады Абхазии – самые горящие
    <br>путевки в любую из этих и других стран теперь доступны вам без агентов-
    <br>посредников. Никаких утомительных поездок в офис турфирмы: чтобы купить
    <br>путешествие мечты,вам потребуется только выход в интернет и 5-10 минут
    <br>времени.</p>

{% endblock %}