body{
    background: rgb(152, 224, 221);
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    background: rgb(60, 158, 214);
    padding: 20px;
    margin-top: 0;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}
.one{
    text-indent: 20px;
}