<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автор</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="info">
    <h1>Генератор случайных паролей онлайн</h1>
    <p>Генератор паролей - незаменимый помощник при регистрации нового аккаунта, когда нужно
        придумать сложный пароль, подходящий под критерии площадки. Выберите состав пароля и
        его длину, и система сгенерирует для Вас индивидуальную последовательность символов.
        От вас требуется всего несколько кликов и программа поможет сгенерировать сразу несколько
        случайных надежных паролей на выбор.
        <br>
        <br>Лаборатория Касперского рекомендует менять пароли от своих электронных почтовых ящиков и аккаунтов
        в социальных сетях минимум один раз в 2 месяца. Генератор паролей онлайн от involta -
        гарантия надёжности и уникальности, потому что все они создаются только один раз и сразу же
        удаляются. Если вы оставите только "Цифры", то можете использовать сервис как генератор
        случайных чисел.
        <br>
        <br>Чтобы придумать надежный пароль для электронной почты или Вконтакте, не нужно вручную перебирать
        символы, достаточно выставить нужные настройки в генераторе и получить результат. Как он работает:
        <ul>
        <li>Выберите типы символов, из которых должен состоять пароль. Это может быть любая комбинация из цифр,
        прописных и строчных букв, а также знаков %, *, ),?, @, #, $, ~. Если какие-то символы вам
            не нужны, не ставьте напротив них галочку.</li>
        <li>Выберите, какой символ должен стоять первым. Это может быть цифра или буква первый символ пароля.
            Комбинация может начинаться с буквы, цифры или любого символа.</li>
        <li>Укажите длину пароля. Программа позволяет создавать комбинации размером от 6 до 14 символов, поэтому
        может работать как генератор не только паролей, но и случайных чисел, уникальных номеров,
        а также проверочных кодов.</li>
        </ul>
        <br>Поисковые системы Яндекс и Гугл утверждают, что относительно надежный пароль имеет длину от 8
        символов. При этом в нем должны быть использованы все возможные знаки. Пароль для Вк и других
        социальных сетей лучше генерировать из 8 символов и раз в пару месяцев менять, чем запоминать
        12-значную комбинацию, которую все равно смогут взломать. Какой бы вариант вы ни выбрали, наша
        программа подберет вам подходящий пароль.</p>
    <p><a  href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>