@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: #CCCCFF;
    font-family: 'Roboto', 'sans-serif';
    padding: 0;
    margin: 0;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.element, .count{
    background: lightyellow;
    border: 6px solid #FFF;
    margin: 20px 0;
}
.text{
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}
.block img{
    max-width: 360px;
}
.content h1{
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
}
.img + h2, .text h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.img{
    text-align: center;
    margin-bottom: 60px;
}
.img img{
    border: 6px solid #FFF;
}
.top{
    background: lightyellow;
    margin: 0;
}
.top a{
    color: #663366;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.detail{
    background: lightyellow;
    padding: 20px 20px 60px;
    box-sizing: border-box;
}
.blog_text{
    padding: 20px;
    box-sizing: border-box;
}
.count{
    padding: 10px 20px;
    box-sizing: border-box;
}
.menu{
    box-sizing: border-box;
    background: lightyellow;
}
.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #663366;
    font-family: 'Roboto', 'sans-serif';
    font-size: 22px;
    list-style-type: none;
    align-items: center;
}
.one li a{
    margin: 0 20px 0;
    text-decoration: none;
}
.right a{
    text-decoration: none;
}
.right{
    text-align: right;
    color: #663366;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.logo{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menu .logo{
    margin-right: 30%;
}
a{
    text-decoration: none;
}
.content .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
h1, h2{
    color: #003366;
}
.btn{
    background: lightyellow;
}
button{
    border-radius: 6px;
    box-shadow: inset 0 0 6px 2px #663366;
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
}
.center{
    text-align: center;
}
input{
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 4px;
}
.bg{
    box-shadow: 0 2px 12px 2px #003366;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}
.top{
    padding: 4px 24px;
    margin-top: 0;
    background: transparent;
    border: none;
    color: #663366;
}
.content li{
    box-shadow: 0 2px 8px 2px #003366;
    margin-bottom: 20px;
    font-size: 20px;
    list-style-type: none;

}
.content a{
    color: #000;
    display: block;
    padding: 20px;
}
.but{
    display: flex;
    align-items: flex-end;
}
.good{
    background: teal;
}
.remove{
    background: orangered;
}
a b{
   color: #663366;
}
.left{
    float: left;
}
.right{
    text-align: right;
}

.register ul{
    margin-top: -16px;
}
.register li{
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 0;
}
.register label{
    color: teal;
    font-size: 18px;
    font-weight: bold;
}
.register button{
    margin-top: 10px;
}